{% extends "base.html" %}
{% block title %}About Us{% endblock %}

{% block content %}
<h1 align="center">About Us</h1>
<br/>
<section>
    <h2>Our Story</h2>
    <br/>
    <p>We are a team of data enthusiasts based in Kuala Lumpur looking to help SMEs with their data needs. It started with us working closely with the owners of a boutique, Sarah and Mas (<a href="https://bysarahahmad.com/" target="_blank">By Sarah Ahmad</a>), to study the feasibility of using their sales data to apply for loans. We made some fancy graphs and threw in a bit of forecasting (so we could say we used AI) to come up with a dashboard for banks to use. But one of the owners, Mas, then said to us “I think your tool can actually help me run my business” which has now led us down a different path to where we are today – working directly with business owners to build tools and reports that can allow them to make better decisions. </p>
</section>
<br/>
<br/>
<section>
    <h2>Our Team</h2>
    <br/>
    <div class="team-member">
      <img src="../static/May profile.png" alt="Law May">
      <h3>Law May</h3>
      <p>3 years experience in venture building and Deep Learning research at PETRONAS. May graduated from Imperial College London (ICL) with a Master of Science in Geophysics. In her spare time, May enjoys dancing to K-Pop and networking despite being a self-proclaimed introvert.</p>
      <a href="https://www.linkedin.com/in/may-law" target="_blank">LinkedIn</a>
    </div>
    <br/>
    <div class="team-member">
      <img src="../static/Nian Wei profile.png" alt="Nian Wei">
      <h3>Tan Nian Wei</h3>
      <p>Machine Learning Applied Scientist with 6 years’ experience at PETRONAS Research. Graduated cum laude from Texas A&M University with a Bachelor of Science in Petroleum Engineering. When Nian Wei is not learning the chords to a new ukelele tune, you can find him at a Friday night swing class or practicing yoga.</p>
      <a href="https://www.linkedin.com/in/nianweitan" target="_blank">LinkedIn</a>
    </div>
    <br/>
    <div class="team-member">
      <img src="../static/Rais profile.png" alt="Rais">
      <h3>Ahmad Rais Abd Razak</h3>
      <p>A certified accountant with 4 years experience at PETRONAS. Rais graduated from the University of Sydney in a Bachelor of Commerce, but spent more time exploring the city than studying. He feels every problem can be solved with Excel and Power BI. </p>
      <a href="https://www.linkedin.com/in/raisrazak" target="_blank">LinkedIn</a>
    </div>
    <br/>
    <div class="team-member">
      <img src="../static/Zul profile.png" alt="Zulhilmi Ismail" width="170px">
      <h3>Zulilmi Ismail</h3>
      <p>Currently heading Innovation & Strategy portfolio at PETRONAS Advanced Materials, Zul is an accomplished Drilling Engineer. He has a Bachelor’s in Petroleum and Natural Gas Engineering from Penn State University. He enjoys making predictions about future outcomes to a mysteriously high degree of accuracy.</p>
      <a href="https://www.linkedin.com/in/zulhilmiismail" target="_blank">LinkedIn</a>
    </div>
</section>
{% endblock %}